# API token
apiToken: ""

# Owner of this bot
owner: ""
# Owner User ID
ownerID: ""

# Admin list
admins:
- ""

# Execute command whitelist
execWhitelist:
- "ls"
- "cd"
- "lsblk"
- "curl"
- "echo"
- "df"
- "free"
- "sensors"
- "sleep"
