# API token
apiToken: ""

# Owner of this bot
owner: ""
# Owner User ID
ownerID: ""

# Admin list
admins:
- ""

# Execute command whitelist
execWhitelist:
- "ls"
- "cd"
- "lsblk"
- "curl"
- "echo"
- "df"
- "free"
- "sensors"
- "sleep"

# AWS Config
aws:
  # Enable AWS EC2 instances not-terminated reminder
  reminder: false
  # Send reminder at specific time every day
  # Set this to UTC if running in container
  reminderTime: "11:30"
  # Send reminder on working day (Mon - Fri)
  sendOnWorkingDay: true
  # Send reminder on working day (Sat, Sun)
  sendOnWeekend: false
  # Query regions
  regions:
    - "ap-northeast-1"
    - "ap-northeast-2"
  ec2:
    # Output the instances with its name that match this regex only
    # Leave this to blank to output all instances
    instanceNameRegex: ""
    # Output stopped instance
    outputStoppedInstance: true
  eks:
    # EKS configuration is WIP
