# API token (also set by ENV 'TELEGRAM_APITOKEN')
apiToken: ""

# Owner of this bot
owner: ""
# Owner User ID
ownerID: ""

# Admin list
admins:
- ""

# Execute command whitelist
execWhitelist:
- "ls"
- "cd"
- "lsblk"
- "curl"
- "echo"
- "df"
- "free"
- "sensors"
- "sleep"
- "bash"
- "pacman"
- "ss"
- "cat"
- "wget"
- "sed"

# Execute command timeout (seconds), default 30s
execTimeout: 30
